body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_principal {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.titulo {
    text-align: center;
    color: #F5A11D;
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario-contenedor {
    color: #F5A11D;
    width: 25%;
    height: 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    bottom: 25%;
    left: 0%;
    right: 0%;
    margin: auto;
    gap: 20px;
}



.usuario_form,
.contrasena_form {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #F5A11D;
    font-size: 16px; /* Tamaño de la fuente aumentado */
}

.input_usuario,
.input_contrasena {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 2px solid #F5A11D;
    border-radius: 8px;
    background-color: #f5f5f5;
    color: #333;
}

.botones {
    margin-top: 20px;
}

.inicio {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #F5A11D;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.inicio:hover {
    background-color: #F5A11D;
}

.opciones{
    margin-top: 8px;
    text-align: center;

}

#mensajeRec{
    margin-top: 20px;
    text-align: center;
    color: #F5A11D;

}